<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cromai</title>
    <!-- Chamada do arquivo css -->
    <link rel="stylesheet" href="../static/style/index.css">
</head>

<body>
    <div class="video" id="video">
        <video src="../static/img/estudo.mp4" preload="auto" autoplay muted loop></video>
    </div>
    <div class="container-body">
        <div class="title">
            <h2>Já ouviu falar sobre o cara do Pitágoras?</h2>
        </div>
        <div class="container">
            <div class="description">
                <p class="txt">
                    "A soma dos quadrados de seus catetos corresponde ao quadrado de sua hipotenusa."
                    Segundo o enunciado do Teorema de Pitágoras, a fórmula é representada da seguinte maneira:
                    a2 = b2 + c2
                   
                </p>
                    <div class="img-description-">
                        <img class="img-description" src="../static/img/trianguloretanguloangulo-0.png" alt="">
                    </div>
                <p class="txt">
                    A hipotenusa é o maior lado de um triângulo retângulo e o lado oposto ao ângulo reto. 
                    Os outros dois lados são os catetos. O ângulo formado por esses dois lados tem medida igual a 90º 
                    (ângulo reto).

                    Identificamos ainda os catetos, de acordo com um ângulo de referência. Ou seja, o cateto poderá 
                    ser chamado de cateto adjacente ou cateto oposto.

                    Quando o cateto está junto ao ângulo de referência, é chamado de adjacente, por outro lado, 
                    se está contrário a este ângulo, é chamado de oposto.
                </p>
            </div>
            <div class="form-container">
                <p class="txt">
                    Deseja acessar a nossa calculadora? Digita como gostaria de ser chamado e clique no botão abaixo.
                </p>
                <form action="{{ url_for('create') }}" method="post" action="/calculator">
                    <div class="form-group">
                        <label class="txt-label" for="email">Insira seu e-mail</label>
                        <input id="email" class="input" type="text" name="email">

                        <label class="txt-label" for="name">Insira seu nome</label>
                        <input id="name" class="input" type="text" name="name">
                    </div>
                    <div>
                        <!-- a function setName() vai armazenar o nome passado dentro do input -->
                        <button class="button-container" type="submit">Bora Calcular?</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../static/js/function.js"></script>
</body>

</html>